/* Body container padding */
.container-fluid.main {
    margin: 95px 50px 0px 50px;
    width: 95%;
}


.container-fluid.secondary {
    margin: 150px 50px 50px 50px;
}

* {
    font-family: 'Nunito Light', sans-serif;
    /* font-size: 11pt; */
}