.button{
    background-color:white;
    border-style:solid;
    border-color: #007BFF;
    padding: 15px 80px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color:#007BFF;
    border-color: white;
    color: white;
    text-decoration: none;
}
