p.section-header {
    color: #bbbbbb;
    line-height: 2px;
    padding-top: 20px;
}

.card {
    display: table;
    overflow: hidden;
    margin-left: 0px;
    height: 60px;
    width: 100%;
    background: white;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 0px;
}

.card-helper {
    display: table-cell;
    vertical-align: middle;
}
.card-content {
    margin: 0 auto;
}

.price {
    color: green;
    text-align: right;
}

.remarks {
    font-style: italic;
    font-size: 10pt; 
}

.trash-content {
    background: white;
    height: 500px;
    width: 71%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.07);  
}

.trash-header {
    font-size: 25pt;
    font-family: Segoe UI;
    padding: 20px 15px;
}

.trash-sub-header {
    color: #33577d;
    font-size: 15pt;
    font-family: Segoe UI Light;
}

.border-thick{
    border-width: 2px !important;
}

/* The remove button inside the card */
.gen-remove {
    background: white;
    outline: none;
    border: none;
    text-align: right;
    margin-left: 40%;
}